@font-face {
  font-family: 'iconfont';  /* project id 244660 */
  src: url('//at.alicdn.com/t/font_qivew0nigrpb9.eot');
  src: url('//at.alicdn.com/t/font_qivew0nigrpb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_qivew0nigrpb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_qivew0nigrpb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_qivew0nigrpb9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont";
  font-size: 14px;
  font-style: normal;
}

body {
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  font-size: 12px;
}

.fn-left {
  float: left;
}

.fn-right {
  float: right;
}

.fn-clear:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}

.btn-submit {
  background-color: #4ebee8;
  border-color: #4ebee8;
}

.full-width {
  width: 100%;
}

[v-cloak] {
  display: none;
}
